swagger: "2.0"
info:
  description: "Simple feature toggle service"
  version: "1.0.0"
  title: "Enabler"
  contact:
    email: "nicolastrres@gmail.com"
host: "master-7rqtwti-pily6qf5c2ojk.us-2.platformsh.site"
basePath: "/"
schemes:
- "https"
- "http"
paths:
  /features:
    post:
      tags:
        - "features"
      summary: "Add new features"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - in: "body"
        name: "body"
        description: "Features list that needs to be added"
        required: true
        schema:
          $ref: "#/definitions/Features"
      responses:
        201:
          description: "Features Added"
        500:
          description: "Internal Server error"
    get:
      tags:
        - "features"
      summary: "Get all features"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        200:
          description: "Features List"
          schema:
            $ref: "#/definitions/Features"
  /features/{featureName}:
    get:
      tags:
      - "features"
      summary: "Get feature by name"
      description: "Returns a single feature"
      produces:
      - "application/json"
      parameters:
      - name: "featureName"
        in: "path"
        description: "Name of the feature to return"
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/Feature"
    delete:
      tags:
      - "features"
      summary: "Deletes a feature"
      description: "Deletes a single feature by name"
      produces:
      - "application/json"
      parameters:
      - name: "featureName"
        in: "path"
        description: "Name of the feature to delete"
        required: true
        type: "string"
      responses:
        204:
          description: "Feature deleted with success"
definitions:
  Features:
    type: "array"
    items:
      $ref: "#/definitions/Feature"
  Feature:
    type: "object"
    required:
    - "name"
    - "enabled"
    properties:
      name:
        type: "string"
        example: "some feature"
      enabled:
        type: "boolean"